.login_home_page{
    
    background-image: url("/img/gymBench.jpg");
    background-size: cover;
}
.signIn{
margin-left: 37%;
margin-top: 6%;
font-family: emoji;
}
.container_new{
    /* width: 35%;
    background: white;
    position: fixed;
    margin-left: 33%;
    margin-top: 6%;
    border: 1.5px solid #0f1447; */

   
    margin-top: 51%;
    color: white;
}

.login_input{
    width: 82%;
    margin-left: 9%
}
#emailHelp{
    margin-top: 12%;
    margin-left: 25%;
    color: white;
}
.space{
    margin-top: 8%;
}
#user_serch{
    background-image: linear-gradient(#131921, #afaf6f);
    width: 100%;
    height: 38%;
    position: absolute;
}

.user_data{
   
    border: 2px solid;
    border-style: inset;
  
}
.user-input{
    position: absolute;
    margin-top: 5%;
    font-family: emoji;
    

}
.user-text{
    margin-top: 3%;
    position: absolute;
    color: white;

}
#userInfo_title{
    margin-left: 40%;
    margin-top: 2%;
    font-family: emoji;
    color: white;
}
#create_new_user{
    margin-left: 71.5%;
    margin-top: 9%;
    width: 15%;
    position: absolute;
}
/* #new_joiner_form{
    width: 42%;
    margin-left: 28%;
    margin-top: -4%;
    background-color: #e9ecef99;
    font-family: emoji;
   
    height: 92%;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

} */
#form_paddding{
    width: 77%;
    margin-left: 12%;
}
#user_regestrationform_page{
    
    background-image: url("/img/NewUserBackground.jpg");
    background-size: cover;
}
#reg_titile{
    margin-left: 27%;
    margin-top: 4%;
    color: white;
}
#table_scroll{
    overflow: auto;
}
#UserInfoMaindiv{
    width: 87%;
    height: 92%;
    background-color: whitesmoke;
    position: absolute;
    margin-left: 7%;
    margin-top: -3%;
    border-radius: 10Px;
}
#gymTitle{
    font-family: Georgia, serif;
    margin-left: 5%;
    margin-top: 0.5%;
    position: absolute;
}
#userIcon{
    margin-top: -2.7%;
    margin-left: 94%;
}
#UserInfoTitle{
    margin-left: 82%;
    margin-top: 3%;
    
    font-family: Georgia, serif;
    
}
#userImgBox{
    margin-left: 6%;
    position: absolute;
}
#userNameJoinning{
    margin-left: 1%;
    position: absolute;
    margin-top:-3%;
    font-family: Georgia, serif;
}

#userInfoMainDiv{
    background-color: #ece9e9;
    width: 52%;
    margin-left: 37%;
    position: absolute;
    overflow-y: scroll;
    height: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#UsderInfoDetailsData{
    margin-left: 10%;
    margin-top: 3%;
    font-family: emoji;
    width: 67%;
}
.userFormDecoration{
    width: 50%;
    border: 1px solid #3e3f41;
    border-radius: 4px;
}
.Error{
  
    border: 2px solid red;
}

#fileUpladContainer{
    width: 15%;
}
#NewJoinerLink{
    
    /* background-color: #0d6efd;
    border-color: #0d6efd; */
    background-image: linear-gradient(#0b6bf8, #1e4f9a);
    color: #f8f9fa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.tablerow{
    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 5px #382b17;
}
.pageone{
    background-image: linear-gradient(#131921, #afaf6f);
    color: ghostwhite;
    font-family: emoji;
}

#userHeader{
    margin-top: -39%;
    margin-left: 33%;
    position: absolute;

}
.headerShadow{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.userInfoPage{
    font-family: emoji;
    background-color: white;
}
